* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* NAV */
.nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: rgb(255, 109, 255);
}

.nav-link:hover {
  color: blue;
}

/* HOME */
.home-header {
  min-height: 100vh;
  position: relative;
  background-image: url('./assets/header-shop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.box-header {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.home-box {
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 4px 6px;
  transition: background-color 1s;
}

.home-box:hover {
  background-color: rgb(246, 159, 246);
}

/* LOGIN */

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.login-register {
  border: none;
  background-color: white;
}

.login-btn {
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.5) 0%,
    rgba(64, 0, 191, 0.5) 50%,
    rgba(128, 0, 128, 0.5) 100%
  );

  border-radius: 30px;
  border: none;
  padding: 10px;
}

/* Contact */

.contact {
  min-height: 100vh;
  background-color: rgb(212, 212, 212);
}

.contact-h1 {
  letter-spacing: 2px;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right {
  flex: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-span {
  font-weight: bold;
}

.contact-left {
  flex: 50%;
  padding: 40px;
}

/* CARD */

.card {
  width: 16rem;
  border: none;
  text-decoration: none;
  background-color: rgb(255, 252, 246);
}

/* SHOP */

.shop {
  min-height: 100vh;
}

/* SHOPDETAIL */

.shopDetail {
  min-height: 100vh;
  height: auto;
}

.shopDetail-item {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.shopDetail-p {
  color: white;
}
.shopDetail-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leftShopDetail {
  width: 70%;
}

.rightShopDetail {
  width: 70%;
}

/* SHOPPING */

.shopping {
  min-height: 100vh;
}

/* PRODUCTCRUD */

.productCrud {
  min-height: 100vh;
}

.crudImg {
  width: 50px;
}

/* ABOUT */

.about {
  min-height: 100vh;
}

.about-box {
  display: flex;
  justify-content: space-between;
  background-color: rgb(219, 219, 219);
  padding: 60px;
}

.second {
  background-color: white;
}

.about-left {
  line-height: 30px;
  width: 50%;
}

.about-image {
  width: 40%;
}

/* Comments */

.coments-container {
  max-height: 300px;
  overflow-y: auto;
  padding: 5px;
}

@media (max-width: 576px) {
  .contact-box {
    flex-direction: column;
  }

  .contact-left {
    display: flex;
    flex-direction: column;
  }

  .about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .about-left {
    width: 100%;
  }

  .about-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 820px) {
  .login-left {
    font-size: 30px;
  }

  .login-right {
    font-size: 30px;
  }

  .btn {
    font-size: 20px;
  }
}
